name: Narayana LRA Coordinator quay.io image push

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'pom.xml'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Push image to quay.io

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Check changed files
        id: check_upgrades
        run: |
          set +e
          git diff -U0 HEAD^ HEAD | grep "<quarkus.platform.version>\|<lra.version>"
          export narayana_or_quarkus_upgrade=$(echo $?)
          set -e
          echo "::set-output name=NARAYANA_OR_QUARKUS_UPGRADE::$narayana_or_quarkus_upgrade"
      - name: Set up JDK
        if: ${{ steps.check_upgrades.outputs.NARAYANA_OR_QUARKUS_UPGRADE == '0' || github.event_name == 'workflow_dispatch' }}
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven
          check-latest: true
      - name: Build, Test and push image
        if: ${{ steps.check_upgrades.outputs.NARAYANA_OR_QUARKUS_UPGRADE == '0' || github.event_name == 'workflow_dispatch' }}
        run: |
          ./mvnw clean package -Dquarkus.container-image.build=true -Dquarkus.container-image.push=true \
          -Dquarkus.container-image.tag=${{ github.run_number }}
        env:
          QUARKUS_CONTAINER_IMAGE_USERNAME: ${{ secrets.QUARKUS_CONTAINER_IMAGE_USERNAME }}
          QUARKUS_CONTAINER_IMAGE_PASSWORD: ${{ secrets.QUARKUS_CONTAINER_IMAGE_PASSWORD }}

